<div class="spinner spinner1">
  <svg viewBox="0 0 100 100">
    <circle cx="50" cy="50" r="48" id="circle1"/>
    <circle cx="50" cy="50" r="38" id="circle2"/>
    <circle cx="50" cy="50" r="28" id="circle3"/>
    <circle cx="50" cy="50" r="18" id="circle4"/>
  </svg>
</div>

<div class="spinner spinner2">
  <svg viewBox="0 0 100 100">
    <circle cx="50" cy="50" r="48" id="circle1"/>
    <circle cx="50" cy="50" r="38" id="circle2"/>
    <circle cx="50" cy="50" r="28" id="circle3"/>
    <circle cx="50" cy="50" r="18" id="circle4"/>
  </svg>
</div>
