main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 25%;
  border-bottom: 2px solid #8080804f;
}

section {
  width: 100%;
  height: 74%;
}
