@mixin liDesign{
  background: rgb(45,95,105);
  background: linear-gradient(0deg, rgba(45,95,105,1) 17%, rgba(9,102,121,1) 42%, rgba(19,56,63,1) 88%);
  position: relative;
  & a {
    text-decoration: none;
    padding: 8px 16px;
    display: flex;
    cursor: pointer;
    color: lightcyan;
    justify-content: space-between;
    &:hover {
      background: rgb(11,22,24);
      background: linear-gradient(0deg, rgba(11,22,24,1) 17%, rgba(10,24,27,1) 42%, rgba(1,6,7,1) 88%);
    }
    //&:not(:only-child):after {
    //  content: '\2193';
    //}
  }
}

@mixin ulDesign($display, $position, $flex-direction, $top, $visibility, $opacity, $height, $direction) {
  display: $display;
  flex-direction: $flex-direction;
  height: $height;
  position: $position;
  top: $top;
  visibility: $visibility;
  opacity: $opacity;
  list-style: none;
  margin: 0;
  padding: 0;
  & li:hover > &-child {
    visibility: visible;
    opacity: 1;
    animation: subLiAnimate 1s ease-in;
  }
  @if $direction {
    @include leftRight;
  }
}

@mixin leftRight {
  .left {
    left: 100%;
    //& a:after {
    //  transform: rotate(90deg) !important;
    //}
  }
  .right {
    right: 100%;
  }
}

.nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  perspective: revert;
  &-parent {
    @include ulDesign(flex, relative, row, 0, visible, 1, auto, false);
    animation: mainUIanimate 0.5s ease-in;
    & li {
      @include liDesign;
    }
    &-child {
      @include ulDesign(inline-flex, absolute, column, 100%, hidden, 0, 0, true);
      & li {
        @include liDesign;
      }
      &-child {
        @include ulDesign(inline-flex, absolute, column, 0, hidden, 0, 0, true);
        & li {
          @include liDesign;
        }
        &-child {
          @include ulDesign(inline-flex, absolute, column, 0, hidden, 0, 0, true);
          & li {
            @include liDesign;
          }
        }
      }
    }
  }
}

@keyframes mainUIanimate {
  0% {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    height: auto;
    visibility: visible;
    opacity: 1;
  }
}


@keyframes subLiAnimate {
  0% {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transform: rotateX(90deg);
  }
  50% {
    height: auto;
    visibility: visible;
    opacity: 1;
    transform: rotateX(0deg);
  }
  100% {
    height: auto;
    visibility: visible;
    opacity: 1;
    transform: rotateX(0deg);
  }
}
